<h1>Profile</h1>

<p ng-show="view">You are logged in</p>
<p ng-hide="view">You need to be logged in</p>

<table class="u-full-width">

  <tbody>
    <tr>
      <td><h4>Username</h4></td>
      <td>{{profile.username}}</td>
    </tr>
    <tr>
      <td><h4>Biography</h4></td>
      <td>{{profile.bio}}</td>
    </tr>
    <tr>
      <td><h4>Email</h4></td>
      <td>{{profile.email}}</td>
    </tr>
    <tr>
      <td><h4>location</h4></td>
      <td>{{profile.location}}</td>
    </tr>
    <tr>
      <td><h4>Full name</h4></td>
      <td>{{profile.first_name}} {{profile.last_name}}</td>
    </tr>
    <tr>
      <td><h4>Username</h4></td>
      <td>{{profile.username}}</td>
    </tr>
    <tr>
      <td><h4>Username</h4></td>
      <td>{{profile.username}}</td>
    </tr>

  
  </tbody>
</table>