
<div class="" ng-show="view">
  <div class="row">
    <div class="two columns sidebar">
      <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Profile</span>

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#/profile" class="pure-menu-link">Details</a></li>
          <li class="pure-menu-item"><a href="#/profile/sessions" class="pure-menu-link">Sessions</a></li>
        </ul>
      </div>
    </div>
    <div class="eight columns">
      <div class="two columns">
        <div class="box"></div>
        <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{profile.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>
      </div>
      <div class="ten columns">
        <p><h3><b>@{{profile.username}}</b></h3></p>
        <p><b>Name</b> {{profile.first_name}} {{profile.last_name}}</p>
        <p><b>Location</b> {{profile.location}}</p>
        <p><b>Email</b> {{profile.email}}</p>
        <p><b>Registered</b> <span am-time-ago="profile.date_registered"></span></p>
      </div>


  </div>
  </div>

</div>
