github.com/zenazn/goji
gopkg.in/mgo.v2
github.com/go-sql-driver/mysql
github.com/satori/go.uuid
github.com/rs/cors
github.com/franela/goblin
github.com/hypebeast/gojistatic
github.com/boombuler/barcode
github.com/boombuler/barcode/qr