<div class="listing">
    <div class="subheader" ng-if="products.total != 0">
        <div class="content">
            <div class="subtitle">
                <p>Listings</p>
            </div>
            <div class="options">
                Number of results <input type="number" placeholder="{{count}}" ng-model="count">
            </div>
        </div>
    </div>
    <div class="message" ng-if="products.total == 0">
        <div class="icon">
            <i class="fa fa-frown-o"></i>
        </div>
        <div class="text">
            <h3>Looks like you don't have any items</h3>
            <a href="#/listing">Click here to get started!</a>

        </div>
    </div>
    <div class="item" ng-if="products.total != 0" ng-repeat="product in products.items" ng-click="goto(product.id)">
        <div class="row">
            <div class="four columns">
                <limage class="image" image='{{product}}' height="100" width="100" preview=true></limage>
            </div>
            <div class="six columns">
                <div class="title">
                    {{product.title}}
                </div>

                <div class="description">
                    {{product.description}}
                </div>
            </div>
            <div class="two columns status">
                <div class="avail">
                    <availability class="text" datasource="{{product.id}}"></availability></td>
                </div>
            </div>
        </div>
    </div>
    <div class="paging" ng-if="products.total != 0">
        <div class="message">
            <div class="row">
                <div class="twelve columns">
                    Showing {{start}} - {{start + count}} of {{products.total}}
                </div>
            </div>
        </div>
        <div class="below">
            <div class="row">
                <div class="six columns">
                    <a class="button" ng-click="back()">Previous page</a>
                </div>
                <div class="six columns">
                    <a class="button" ng-click="forward()">Next page</a>
                </div>
            </div>
        </div>
    </div>
</div>
