<div class="login">
    <div class="login Aligner-item">
        <h1>Add new</h1>
    </div>
</div>

<div class="login aligner-item--bottom">
    <form ng-submit="create(product)">
        <div class="four columns makemered" ng-show="error">
            <p>{{error}}</p>
        </div>
        <div class="">
          <label for="">Cover image <p class="textred" ng-show="message.error.image.enable">{{message.error.image.text}}</p></label>
            <img ng-src="{{product.image}}" alt="Image preview" id="imagePreview" width="100%" class="imagePreview">

            <input class="u-full-width" value="load" ng-model="product.base64" ng-change="fileChange(this)" id="fileUploader" multiple accept="image/*" type="file" base-sixty-four-input>
        </div>
        <br>
        <div class="">
            <label for="">Title <p class="textred" ng-show="message.error.title.enable">{{message.error.title.text}}</p></label>
            <input class="u-full-width" ng-model="product.title" type="text" placeholder="Title: An awesome product">
        </div>
        <br>
        <div class="">
            <label for="">Description: <p class="textred" ng-show="message.error.description.enable">{{message.error.description.text}}</p></label>
            <input class="u-full-width" ng-model="product.description" type="text" placeholder="Description: an awesome product">
        </div>
        <div class="">
            <label for="">Days availability <p class="textred" ng-show="message.error.days.enable">{{message.error.days.text}}</p></label>
            <input class="u-full-width" ng-model="product.days" type="number" placeholder="7 Days">
        </div>
        <br>
        <div class="">
          <input type="submit" ng-class="uploadButtonClass" value="{{message.button}}">
        </div>


    </form>
</div>
