/* app css stylesheet */

body {
    background-color:#e3e3e3;
  position:absolute;
  width:100%;
}


.wrapper {
    background-color:#fff;
    padding:20px;
}

/*
    Header
  http://codepen.io/andytran/pen/kmAEy
*/
header {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  display: table;
  height:60px;
  position:relative;
  box-shadow:0px 2px 10px 0px rgba(170, 170, 170, 0.75);
  z-index:10;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  position: relative;
  margin:0;
  display: inline-block;
  margin-right: -0px;
  text-align: center;
}

header ul li.right {
  position: absolute;
  right:0;
  padding:0;
}

header ul li.right a {
  padding:0;
  height:60px;

}

header ul li.right img {
  position: relative;
  height:100%;
}


header ul li a {
  display: block;
  padding: 15px 20px;
  height:30px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s linear;
}

header ul li a:hover {
   background: #e3e3e3;
}


.sidebar {
  background-color:#F5F5F5;
  height:100%;
  width:100%;
  border-radius: 6px;

}

.box img {
  background-color:#333;
}

