/* app css stylesheet */


/*Header*/
.header {
  background-color:#263238;
}

.header .icon {
  background-color:#455a64;
  width:auto;
  height:100px;
}

.header .icon .row {
  height:100%;
}

.header .icon .row .three.columns {
  height:100%;
}


/*Header: navigation*/
.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  display:block;
  font-size:1.2em;
}



.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}


/* Side Design */


