/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
body {
  background-color: #fff;
  position: absolute;
  width: 100%;
}
.wrapper {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  height: 70vh;
}


.sidebar {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.box img {
  background-color: #333;
}
.thumb {
  width: 100px;
  height: auto;
}
.thumb.circle {
  border-radius: 100%;
}
.rent_status.owner {
  background-color: #ECEFF1;
  padding: 10px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}
.rent_status.owner p {}

/*
    LOGIN
*/

.image .register {
  margin: 0 auto;
}
.login.panel {
  position: relative;
  background-color: #e3e3e3;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.login.panel form {
  margin: 0;
}
.login.panel.title {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.login input {
  width: 100%;
}
.login.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}

/*
    Listing upload
*/

.imagePreview {
  padding: 25px;
}

/*

        Text Styles


*/

.red p {
  color: red;
}

/*
      QR codes
*/

.qr {
  width:100%;
  max-width:120px;
}
