<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title ng-bind="site.title">Loading....</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
<link rel="stylesheet" href="assets/css/skeleton.css">
<link rel="stylesheet" href="assets/css/header.css">
<link rel="stylesheet" href="assets/css/base.css">
<!-- <link rel="stylesheet" href="bower_components/pure/pure-min.css"> -->
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
<!-- <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css"> -->
<link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">



<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
<base href="/">
</head>
<body ng-cloak>




<header ng-controller="AuthCtrl">
    <div class="navigation">
        <nav>
          <ul>
                <li><a href="#/"><i class="fa fa-lemon-o"></i> <b>{{site.title}}</b></a></li>
                <li><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
                <!-- <li><a href="#/users"><i class="fa fa-users"></i> Users</a></li> -->
                <li><a href="#/listing"><i class="fa fa-cubes"></i> Listing</a></li>
                <!--<li><a href="#/images">Images</a></li>-->
                <!--<li><a href="#/profile" ng-show="loggedIn">Profile</a></li>-->
                <li><a href="#/login" ng-hide="loggedIn">Login</a></li>
                <li><a href="#/register" ng-hide="loggedIn">Register</a></li>
                <li class="sub-menu" ng-click="ownerNav = !ownerNav">
                  <a href="" ng-show="loggedIn">Owner</a>
                  <ul ng-show="ownerNav">
                    <li>
                      <a href='#/owner/listing'>
                        <i class="fa fa-user"></i> My Items
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="right sub-menu" ng-click="profileNav = !profileNav">
                  <a href="" ng-show="loggedIn">
                    @{{auth.username}}
                    <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{auth.gravatar}}?s=90&d=identicon"/>
                  </a>
                  <ul ng-show="profileNav">
                    <li>
                      <a href='#/user/{{auth.username}}'>
                        <i class="fa fa-user"></i> View profile
                      </a>
                    </li>
                    <li>
                      <a href='#/my/items/current'>
                        <i class="fa fa-cog"></i> My Items
                      </a>
                    </li>
                    <li>
                      <a href='#'>
                        <i class="fa fa-cog"></i> Account Settings
                      </a>
                    </li>
                    <li>
                      <a href='#/logout'>
                        <i class="fa fa-power-off"></i> Sign off
                      </a>
                    </li>
                  </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>


<div ng-view class="wrapper"></div>

<!--<div class="footer">-->
    <!--<div class="content">-->
        <!--This is a footer-->
    <!--</div>-->
<!--</div>-->



<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<!-- views -->
<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="login/login.js"></script>
<script src="views/logout/logout.js"></script>
<script src="views/profile/profile.js"></script>
<script src="views/register/register.js"></script>
<script src="views/users/users.js"></script>
<script src="views/user/user.js"></script>
<script src="views/image/image.js"></script>
<script src="views/images/images.js"></script>
<script src="views/imageupload/imageupload.js"></script>
<script src="views/item/item.js"></script>
<script src="views/items/items.js"></script>
<script src="views/myItems/myItems.js"></script>
<script src="views/item/creator/creator.js"></script>
<script src="views/owner/items/items.js"></script>
<script src="views/owner/item/item.js"></script>

<!-- Settings -->
<script src="views/settings/sessions/sessions.js"></script>
<!-- Factories -->
<script src="config.js"></script>
<script src="factory/auth.js"></script>
<!-- Directives -->
<script src="components/loginPanel/loginPanel.js"></script>
<script src="components/registerPanel/registerPanel.js"></script>
<script src="components/imageUploadForm/imageUploadForm.js"></script>
<script src="components/rLabel/rLabel.js"></script>
<script src="components/availability/availability.js"></script>
<script src="components/rentButton/rentButton.js"></script>
<script src="components/rentButtonOwner/rentButton.js"></script>
<script src="components/qrcode/qrcode.js"></script>
<script src="components/image/image.js"></script>
<!-- Imports -->
<script src="bower_components/cryptojslib/rollups/sha512.js"></script>
<script src="bower_components/cryptojslib/rollups/md5.js"></script>
<script src="bower_components/js-cookie/src/js.cookie.js"></script>
<!-- <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script> -->
<!--<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>-->
<!--<script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>-->
<!--<script src="bower_components/ngstorage/ngStorage.min.js"></script>-->
<script src="bower_components/color-thief/dist/color-thief.min.js"></script>
<script src="bower_components/ngColorThief/angular-colorthief.min.js"></script>
<script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

</body>
</html>
