<div class="login">
    <div class="row">
        <div class="four columns">
            <h1>Login</h1>
        </div>
        <div class="eight columns">
            <form ng-submit="login(user)">
                <div class="four columns makemered" ng-show="showError">
                    <p>{{error}}</p>
                </div>
                <div class="row">
                    <div class="six columns">
                        <label for="">Username</label>
                        <input class="u-full-width" ng-model="user.name" type="text" placeholder="Lemon">
                    </div>
                    <div class="six columns">
                        <label for="">Password</label>
                        <input class="u-full-width" ng-model="user.password" type="password" placeholder="********" id="">
                    </div>
                </div>
                <input class="button-primary" type="submit" value="Submit" >
            </form>
        </div>
    </div>
</div>
