<div class="login">
    <!--<div class="Aligner-item Aligner-item&#45;&#45;top">…</div>-->
    <div class="login Aligner-item">
        <h1>Login</h1>
    </div>

    <!--<div class="Aligner-item Aligner-item&#45;&#45;bottom">…</div>-->
</div>

<div class="login aligner-item--bottom">
    <form ng-submit="login(user)">
        <div class="four columns makemered" ng-show="error">
            <p>{{error}}</p>
        </div>
        <div class="">
            <label for="">Your email</label>
            <input class="u-full-width" ng-model="user.name" type="text" placeholder="Lemon">
        </div>
        <div class="">
            <label for="">Password</label>
            <input class="u-full-width" ng-model="user.password" type="password" placeholder="********" id="">
        </div>

        <br>

        <input class="button-primary" type="submit" value="Submit" >

    </form>
</div>

<!--<style>-->
<!--.makemered {-->
	<!--background-color:red;-->
	<!--color:white;-->
	<!--width:100%;-->
	<!--padding-top:20px;-->
	<!--padding-bottom:20px;-->
<!--}-->
<!--</style>-->

<!--<div class="flexbox-container">-->
    <!--<div>Blah blah</div>-->
    <!--<div>Blah blah blah blah blah ...</div>-->
<!--</div>-->

<!--<div class="login panel">-->
    <!--<div class="title">-->

    <!--</div>-->
<!--</div>-->
