<div class="cookiedisplaybase animated" ng-class="animation" ng-style="cookiestyle" ng-show="displaycookiebar">
    <div class="message">
        We use cookies to personalise content.   <a href="#/cookie">Read more</a>
    </div>
    <div class="tab" >

        <div class="agree" ng-click="agreeCookie()">
            <i class="fa fa-check"></i> I agree
        </div>
        <div class="decline" ng-click="declineCookie()">
            <i class="fa fa-times"></i> No thanks
        </div>
    </div>
</div>