<style>
.makemered {
	background-color:red;
	color:white;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
}
</style>
<form ng-submit="register(user)">
<div class="row wrapper" >

<div class="four columns makemered" ng-show="error">
  		<p>{{error}}</p>
  	</div>
  	<div class="row" >
  	
  </div>
  	
    <div class="two columns">
      <label for="exampleEmailInput">Username</label>
      <input class="u-full-width" ng-model="user.name" type="text" placeholder="Lemon" id="">
    </div>
    <div class="two columns">
     <label for="exampleEmailInput">Email</label>
      <input class="u-full-width" ng-model="user.email" type="email" placeholder="lemon@lemondev.xyz" id="">
    </div>
    <div class="two columns">
     <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" ng-model="user.password" type="password" placeholder="********" id="">
    </div>
  </div>
  <div class="row" >
  	
  <div class="two columns">
  <p></p>
  </div>
  <div class="one columns">
  <input class="button-primary" type="submit" value="Submit" >

  </div>
  </div>
</form>