<div class="user">
    <!--{{user}}-->
    <div class="container">
        <div class="row profile" ng-style="{'color': 'rgb('+colors.dominantColor[0]+', '+colors.dominantColor[1]+', '+colors.dominantColor[2]+')'}" ng-cloak>
            <div class="six columns">
                <div class="image">
                    <img ng-src="https://secure.gravatar.com/avatar/{{user.gravatar}}?s=90&d=identicon" width="100%" height="auto" crossorigin="anonymous" color-thief color-thief-dominant="colors.dominantColor"/>
                </div>
            </div>
            <div class="six columns">
                <div class="context">
                    <div class="username">
                        {{user.username}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="qr">
                <h2>User QR</h2>
                <img class="code" ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>
            </div>
        </div>
    </div>
</div>
<!--<div class="" ng-show="view">-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<div class="row">-->
        <!--<div class="three columns">-->
            <!--<p></p>-->
        <!--</div>-->
        <!--<div class="six columns">-->
            <!--<img ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>-->
        <!--</div>-->
        <!--<div class="three columns">-->
            <!--<p></p>-->
        <!--</div>-->

    <!--</div>-->
    <!--<br/>-->
    <!--<br/>-->

    <!--<br/>-->
    <!--<div class="row">-->
        <!--<div class="four columns">-->
            <!--<img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{user.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>-->
        <!--</div>-->
        <!--<div class="eight columns">-->
            <!--<p><h3><b>@{{user.username}}</b></h3></p>-->
        <!--</div>-->
    <!--</div>-->


    <!--<h3>There are {{products.total}} products.</h3>-->
    <!--<div class="row" ng-repeat="product in products.item">-->
        <!--<h4>{{product.title}}</h4>-->
        <!--<i>{{product.description}}</i>-->
    <!--</div>-->

<!--</div>-->
