<div class="home">
    <div class="welcome" ng-hide="loggedIn">
        <div class="content">
            <h1 class="animated slideInDown">Welcome,  ______?</h1>
            <div class="row animated fadeIn">
                <div class="one-half column">
                    <a class="button button-primary" type="submit" href="#/register">Register</a>
                </div>
                <div class="one-half column">
                    <a class="button" type="submit" href="#/login">Login</a>
                </div>
            </div>
            <div class="buttons">


            </div>
        </div>
    </div>
    <div class="timeline" ng-show="loggedIn">
        <div class="row">
            <div class="header">
                <i class="fa fa-circle-o-notch fa-spin fa-2x animated fadeIn" ng-hide="showHello"></i>
                <h3 ng-show="showHello" class="animated fadeIn"><b>{{message}}</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <div class="content">

                </div>
            </div>
            <div class="four columns">
                <div class="sidebar">
                    <div class="top animated fadeIn">
                        <div class="title">
                            Timeline
                        </div>
                        <div class="description">
                            <span>Upcoming items</span>
                        </div>
                    </div>
                    <i class="fa fa-circle-o-notch fa-spin fa-2x animated fadeIn" ng-hide="showTimeline"></i>
                    <div class="item empty">
                        <div>
                            <h5>Looks empty here</h5>
                            <a href="#/listing">Go to listing</a>
                        </div>
                    </div>
                    <div class="item animated fadeIn" ng-if="timeline.total != 0" ng-repeat="product in timeline.items" ng-show="showTimeline">
                        <div class="row">
                            <div class="three columns">
                                <limage class="image" image='{{product}}' height="50" width="50" preview=false></limage>
                            </div>
                            <div class="nine columns">
                                <h5>{{product.title}}</h5>
                                <i>{{product.due | amCalendar}}</i>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
