<div class="itempreview">
    <div class="content">
        <div class="row">
            <div class="four columns">
                <div>
                    <limage class="image" image='{{product}}' height='150' width='150'></limage>
                </div>
            </div>
            <div class="eight columns">
                <div class="row">
                    <div class="title">
                        {{product.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                        {{product.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="subtitle">
                <div class="row">
                    <div class="two columns">
                        <div class="icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>
                    <div class="ten columns">
                        <div class="title">
                            Information
                        </div>
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="row">
                    <div class="info">
                        Available for {{product.product_rental_period_limit}} days.
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <div class="rent">
                            <rent-button datasource="product"></rent-button>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="profile">
                            <h3>Owner</h3>
                            <div class="row">
                                <div class="six columns">
                                    <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{product.owner.gravatar}}?s=90&d=identicon" width="50px" height="auto"/>
                                </div>
                                <div class="six columns">
                                    <p>@{{product.owner.username}}</p>
                                </div>
                            </div>
                            <div class="row dates">
                                Last updated: {{product.date_updated | amCalendar}}
                            </div>
                            <div class="row">
                                Date Added: {{product.date_added | amCalendar}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="qr">
                        <qrcode class="code" type="product" height=100 width=100 source={{product}}></qrcode>
                        <i class="info">Scan me</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
